body{
    height: 100vh;
    width: 100%;
    position: relative;
    
}

h1{
    font-size: 4rem;
    color: goldenrod;
    font-weight: 500;
    font-family: sans-serif;
}

.watch{
    width: 25rem;
    height: 17rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    background-image:linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.67)), url(london.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 30px;
    left: 35%;
    border-radius: 5px;

}
.control{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}
.control img{
    width: 30px;
    height: 30px;

}
.control img:nth-child(2){
    width: 70px;
    height: 70px;

}